<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Exemples Angular</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/interpolation">Interpolation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/changedetect">Change detection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/binding">Binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Événements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/local-var">Variables locales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/struct">Structure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dirtpl">Directives tpl</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/di">DI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comp">Composants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/generated">Generated</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container my-3">
  <router-outlet></router-outlet>
</div>
