<h2>Sign up validated form</h2>
<form (ngSubmit)="register()" [formGroup]="loginForm">
  <div class="form-group" [ngClass]="{'has-danger': loginForm.get('username').touched && loginForm.get('username').invalid}">
    <label for="username" class="form-control-label">Nom d'utilisateur</label>
    <input class="form-control" [ngClass]="{'form-control-danger': loginForm.get('username').touched && loginForm.get('username').invalid}"
           type="text" id="username" placeholder="Nom d'utilisateur" formControlName="username">
    <div *ngIf="loginForm.get('username').touched">
      <div class="form-control-feedback" *ngIf="loginForm.get('username').hasError('required')">
        Le nom d'utilisateur est obligatoire
      </div>
      <div class="form-control-feedback" *ngIf="loginForm.get('username').hasError('minlength')">
        Le nom d'utilisateur doit contenir au minimum 3 caractères
      </div>
      <div class="form-control-feedback" *ngIf="loginForm.get('username').hasError('unknownUser')">
        Le nom d'utilisateur est inconnu
      </div>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': loginForm.get('password').touched && loginForm.get('password').invalid}">
    <label for="password" class="form-control-label">Password</label>
    <input class="form-control" [ngClass]="{'form-control-danger': loginForm.get('password').touched && loginForm.get('password').invalid}"
           type="password" id="password" placeholder="Mot de passe" formControlName="password">
    <div class="form-control-feedback" *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
      Le mot passe est obligatoire
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Se connecter</button>
</form>
